@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "Expo Arabic Bold";
  src: url("../../../assets/fonts/ExpoArabic-Bold.otf");
}
@font-face {
  font-family: "Expo Arabic";
  src: url("../../../assets/fonts/Expo Arabic Book.ttf");
}
* {
  font-family: "Expo Arabic";
}

.bold {
  font-family: "Expo Arabic Bold";
}

.muted {
  color: #959799;
}

.line-45 {
  line-height: 45px;
}

.ft--12 {
  font-size: 12px;
}

.ft--13 {
  font-size: 13px;
}

.ft--14 {
  font-size: 14px;
}

.ft--15 {
  font-size: 15px;
}

.ft--16 {
  font-size: 16px;
}

.ft--17 {
  font-size: 17px;
}

.ft--18 {
  font-size: 18px;
}

.ft--19 {
  font-size: 19px;
}

.ft--20 {
  font-size: 20px;
}

.ft--21 {
  font-size: 21px;
}

.ft--22 {
  font-size: 22px;
}

.ft--23 {
  font-size: 23px;
}

.ft--24 {
  font-size: 24px;
}

.ft--25 {
  font-size: 25px;
}

.ft--26 {
  font-size: 26px;
}

.ft--27 {
  font-size: 27px;
}

.ft--28 {
  font-size: 28px;
}

.ft--29 {
  font-size: 29px;
}

.ft--30 {
  font-size: 30px;
}

.ft--31 {
  font-size: 31px;
}

.ft--32 {
  font-size: 32px;
}

.ft--33 {
  font-size: 33px;
}

.ft--34 {
  font-size: 34px;
}

.ft--35 {
  font-size: 35px;
}

.ft--36 {
  font-size: 36px;
}

.ft--37 {
  font-size: 37px;
}

.ft--38 {
  font-size: 38px;
}

.ft--39 {
  font-size: 39px;
}

.ft--40 {
  font-size: 40px;
}

.ft--41 {
  font-size: 41px;
}

.ft--42 {
  font-size: 42px;
}

.ft--43 {
  font-size: 43px;
}

.ft--44 {
  font-size: 44px;
}

.ft--45 {
  font-size: 45px;
}

.ft--46 {
  font-size: 46px;
}

.ft--47 {
  font-size: 47px;
}

.ft--48 {
  font-size: 48px;
}

.ft--49 {
  font-size: 49px;
}

.ft--50 {
  font-size: 50px;
}

.center--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center--self {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button, .button--secondary, .button--primary, .button--tertiary {
  border-radius: 40px;
  padding: 10px 27px;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.main-color {
  color: #1877d2;
}

@-webkit-keyframes hoverAppear {
  from {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}

@keyframes hoverAppear {
  from {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 1;
  }
}
nav {
  position: sticky;
  background-color: white;
  z-index: 100;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.nav {
  position: relative;
}
.nav__logo {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__logo img {
  width: 100%;
}
@media (max-width: 1200px) {
  .nav__logo img {
    width: 150px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__logo, .nav__list, .nav__left {
  padding: 10px;
}
.nav__item {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item > a {
  color: #959799;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}
.nav__item > a:hover {
  color: #1877d2;
}
@media (max-width: 1200px) {
  .nav__item {
    font-size: 15px;
  }
}
.nav .button--secondary {
  background-color: transparent;
  color: #959799;
}
.nav .button--secondary:hover {
  color: #1877d2;
}
.nav .button--primary {
  background-color: #1877d2;
  color: white;
}
.nav .button--primary:hover {
  background-color: #4690d5;
}
@media (max-width: 1200px) {
  .nav .button--secondary, .nav .button--primary {
    font-size: 14px;
    padding: 10px 15px;
  }
}
@media (max-width: 768px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.nav__left {
  position: relative;
}
.nav__search {
  cursor: pointer;
}
.nav__search-icon {
  color: #959799;
}
.nav__search-input {
  position: absolute;
  width: 100%;
  height: calc(100% - 20px);
  top: 0;
  margin: 10px 0;
  display: none;
}
.nav__search-input form {
  height: 100%;
}
.nav__search-input form input {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  border: 0;
  outline: none;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
}
.nav__search-close {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 25px;
}
.nav__side-nav-icon {
  padding: 10px;
  font-size: 25px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.nav__mobile {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fefeff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.nav__mobile.expanded {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__mobile-header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 20px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
}
.nav__mobile-side-logo img {
  width: 200px;
}
.nav__mobile-side-close {
  font-size: 25px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.nav__mobile-list {
  padding: 20px;
}
.nav__mobile-item {
  padding: 15px 0;
}
.nav__mobile-item a {
  color: #1877d2;
  text-decoration: none;
}
.nav__mobile-icon {
  margin-left: 15px;
}
.nav__dropdown-cont {
  display: none;
  position: absolute;
  top: calc(100% - 10px);
  background-color: white;
  width: 85vw;
  max-width: 1200px;
  padding: 30px 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
.nav__dropdown-cont.appear {
  pointer-events: all;
}
.nav__dropdown-title {
  color: #1877d2;
  font-size: 35px;
}
.nav__dropdown-more a {
  color: black;
  text-decoration: none;
}
.nav__course {
  margin-bottom: 20px;
}
.nav__course-title {
  white-space: normal;
}
.nav__course-title a {
  color: #1877d2;
  text-decoration: none;
  font-size: 23px;
}

@media (max-width: 991px) {
  .nav__left {
    position: static;
  }
  .nav__search-input {
    left: 0;
  }
  .nav__buttons, .nav__list {
    display: none;
  }
  .nav__side-nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__left {
    height: 72px;
  }
}
.main-section {
  background-image: url("../assets/images/Ask.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
  padding: 130px 0;
}
@media (max-width: 991px) {
  .main-section {
    height: auto;
    padding: 70px 0;
    background-image: none;
  }
}
.main-section__video {
  cursor: pointer;
}
.main-section__video:hover .main-section__play-button {
  border: 4px solid white;
  color: white;
}
.main-section__play-button {
  padding: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px black;
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-section__title {
  color: white;
  font-size: 62px;
  font-family: "Expo Arabic Bold";
  position: relative;
}
.main-section__title--blue {
  font-family: "Expo Arabic Bold";
  color: #23cedb;
}
@media (max-width: 1200px) {
  .main-section__title {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .main-section__title {
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .main-section__title {
    font-size: 35px;
  }
}
.main-section__iframe {
  display: none;
}
.main-section__text-cont {
  font-size: 20px;
}
.main-section__text-cont h1 {
  color: white;
}
@media (max-width: 991px) {
  .main-section__text-cont {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .main-section__text-cont {
    font-size: 15px;
  }
}
.main-section__text {
  text-align: justify;
  position: relative;
}
.main-section__buttons {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-section__buttons .button--primary {
  background-color: #1877d2;
  color: white;
  margin-left: 15px;
}
.main-section__buttons .button--primary:hover {
  background-color: white;
  color: #1877d2;
}
.main-section__buttons .button--secondary {
  background-color: #73b5f2;
  color: white;
}
.main-section__buttons .button--secondary:hover {
  background-color: #1877d2;
}
@media (max-width: 1200px) {
  .main-section__buttons .button--primary {
    font-size: 18px;
  }
  .main-section__buttons .button--secondary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .main-section__buttons {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-section__buttons .button--primary {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .main-section__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-section__buttons .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-section__buttons .button--primary {
    margin-left: 0;
    margin-bottom: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-section__buttons .button--secondary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.strategy {
  padding: 70px 0;
}
.strategy .button--primary {
  background-color: #1877d2;
  color: white;
}
.strategy .button--primary:hover {
  background-color: #73b5f2;
}
.strategy__text {
  text-align: justify;
  position: relative;
  z-index: 1;
}
.strategy__text--bold {
  font-family: "Expo Arabic Bold";
}

.reviews {
  background-image: url("../../../assets/images/section2-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 70px 0;
}
.reviews__slide {
  padding: 15px 30px;
}
.reviews__slide-content {
  padding: 20px;
  padding-bottom: 40px;
  -webkit-box-shadow: 0px 4px 20px rgba(24, 119, 210, 0.2);
          box-shadow: 0px 4px 20px rgba(24, 119, 210, 0.2);
  background-color: white;
  border-radius: 15px;
}
.reviews__title {
  color: #1877d2;
  font-size: 45px;
  text-align: center;
  margin-bottom: 30px;
}
.reviews__text {
  line-height: 30px;
  margin-bottom: 50px;
}
.reviews__image img {
  width: 60px;
  height: 60px;
}
.reviews__slider {
  margin: 0 140px;
}
@media (max-width: 1400px) {
  .reviews__slider {
    margin: 0;
  }
}
.reviews__swiper-pagination {
  left: 50% !important;
  bottom: unset !important;
  -webkit-transform: translateX(-50%) !important;
          transform: translateX(-50%) !important;
}
.reviews__swiper-pagination .swiper-pagination-bullet {
  margin: 0 15px !important;
}

.features {
  padding: 70px 0;
}
.features__text {
  text-align: justify;
}
.features__image {
  text-align: end;
}
.features__image img {
  width: 514px;
}
@media (max-width: 1200px) {
  .features__image img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .features__image {
    text-align: center;
    margin-bottom: 40px;
  }
  .features__image img {
    width: 361px;
  }
}

.instructors {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, white), color-stop(40%, #1877d2));
  background-image: linear-gradient(180deg, white 40%, #1877d2 40%);
  margin-top: 150px;
}
.instructors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.instructors__cont {
  text-align: center;
  color: white;
}
.instructors__image {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 8px solid #1877d2;
  margin-bottom: 30px;
}
.instructors__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .instructors__image {
    width: 150px;
    height: 150px;
  }
}
.instructors__name {
  font-size: 24px;
}
.instructors__role {
  font-size: 16px;
}
@media (max-width: 991px) {
  .instructors__role {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .instructors {
    background-image: none;
    background-color: #1877d2;
    padding: 70px 0;
  }
  .instructors__cont {
    margin-bottom: 30px;
  }
  .instructors__list {
    display: block;
    text-align: center;
  }
  .instructors__image {
    margin: 0 auto 20px;
    border-color: white;
  }
}

.learn-best {
  background-color: #1877d2;
  text-align: center;
  padding: 50px 0;
}
.learn-best .button--secondary {
  color: #1877d2;
}
.learn-best .button--secondary:hover {
  background-color: #73b5f2;
  color: white;
}
@media (max-width: 768px) {
  .learn-best {
    padding-top: 0;
  }
}

.why {
  background-color: black;
  color: white;
  padding: 50px 0;
}
.why__title {
  margin-bottom: 30px;
  font-size: 60px;
}
.why__one-title {
  color: #23cedb;
  font-size: 30px;
  margin-bottom: 10px;
}
.why__icon {
  color: #23cedb;
  font-size: 40px;
}
.why__one-text {
  font-size: 20px;
  text-align: justify;
}
.why__cont {
  margin-bottom: 40px;
}
.why__img img {
  max-width: 300px;
  margin-bottom: 30px;
}

.goals {
  padding: 90px 0;
  font-size: 22px;
  text-align: justify;
  background-color: #f9f9fe;
}
@media (max-width: 991px) {
  .goals__img {
    margin-bottom: 60px;
  }
}
.goals__img img {
  max-width: 500px;
}
.goals__buttons {
  margin-top: 60px;
}
.goals__buttons .button--primary, .goals__buttons .button--secondary, .goals__buttons .button--tertiary {
  margin: 10px;
}
.goals__buttons .button--primary {
  background-color: #1877d2;
  color: white;
}
.goals__buttons .button--primary:hover {
  background-color: white;
  color: #1877d2;
}
.goals__buttons .button--secondary {
  background-color: #73b5f2;
  color: white;
}
.goals__buttons .button--secondary:hover {
  background-color: #1877d2;
}
.goals__buttons .button--tertiary {
  background-color: white;
  color: #1877d2;
  -webkit-box-shadow: 0px 12px 23.66px 0px rgba(24, 119, 210, 0.25);
          box-shadow: 0px 12px 23.66px 0px rgba(24, 119, 210, 0.25);
}
.goals__buttons .button--tertiary:hover {
  background-color: #1877d2;
  color: white;
}

.goals-2 {
  padding: 70px 0;
}
.goals-2__img {
  margin-top: 40px;
}
.goals-2__text {
  font-size: 20px;
  text-align: justify;
}
.goals-2__title {
  font-size: 24px;
  color: #1877d2;
}
.goals-2__icon {
  font-size: 40px;
  color: #1877d2;
}
.goals-2__cont {
  margin-bottom: 30px;
}

.features-2 {
  padding: 70px 0;
  background-color: black;
  color: white;
  font-size: 20px;
}
.features-2__text {
  text-align: justify;
}
.features-2__buttons {
  font-size: 20px;
}
.features-2__buttons .button--primary {
  background-color: #1877d2;
  color: white;
  margin-left: 15px;
}
.features-2__buttons .button--primary:hover {
  background-color: white;
  color: #1877d2;
}
.features-2__buttons .button--secondary {
  background-color: #73b5f2;
  color: white;
}
.features-2__buttons .button--secondary:hover {
  background-color: #1877d2;
}
@media (max-width: 991px) {
  .features-2__buttons {
    text-align: center;
  }
  .features-2__buttons .button--primary {
    margin-bottom: 20px;
  }
}

.statistics {
  padding: 60px 0;
}
.statistics__title {
  font-size: 25px;
  margin-bottom: 35px;
}
.statistics__title--colored {
  color: #1877d2;
}
.statistics__icon {
  font-size: 50px;
  color: #1877d2;
}
.statistics__number {
  font-size: 60px;
  margin: 25px 0 10px;
}
@media (max-width: 1200px) {
  .statistics__number {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .statistics__number {
    font-size: 40px;
  }
}
@media (max-width: 375px) {
  .statistics__number {
    font-size: 35px;
  }
}
.statistics__text {
  font-size: 30px;
  color: #1877d2;
}
.statistics__buttons {
  font-size: 20px;
  margin-top: 60px;
}
.statistics__buttons .button--primary {
  background-color: #1877d2;
  color: white;
  padding: 7px 50px;
}
.statistics__buttons .button--primary:hover {
  background-color: white;
  color: #1877d2;
}

.ask {
  padding: 70px 0;
}
.ask__card-right {
  background-color: white;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 50px;
}
@media (max-width: 991px) {
  .ask__card-right {
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .ask__card-right {
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
  }
}
.ask__card-left {
  background-color: #1877d2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .ask__card-left {
    padding: 50px 20px;
  }
}
@media (max-width: 768px) {
  .ask__card-left {
    border-top-left-radius: 0;
    border-bottom-right-radius: 15px;
  }
}
@media (max-width: 991px) {
  .ask__card {
    margin: 0;
  }
}
.ask__right-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #1877d2;
}
@media (max-width: 991px) {
  .ask__right-title {
    font-size: 25px;
  }
}
.ask__right-text {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
@media (max-width: 991px) {
  .ask__right-text {
    font-size: 16px;
  }
}
.ask__right-text {
  margin-bottom: 50px;
}
.ask__buttons .button {
  font-size: 20px;
  width: 100%;
  padding: 20px 50px;
}
.ask__buttons .button--primary {
  background-color: #1877d2;
  color: white;
}
.ask__buttons .button--primary:hover {
  background-color: white;
  color: #1877d2;
  -webkit-box-shadow: 0px 8px 23.66px 0px rgba(24, 119, 210, 0.2);
          box-shadow: 0px 8px 23.66px 0px rgba(24, 119, 210, 0.2);
}
@media (max-width: 991px) {
  .ask__buttons .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .ask__buttons {
    text-align: center;
  }
}
.ask__left-title {
  font-size: 26px;
}
.ask__left-sub-title {
  font-size: 20px;
  margin: 25px 0;
}
.ask__img img {
  width: 100%;
}
@media (max-width: 768px) {
  .ask__img {
    text-align: center;
    margin-bottom: 20px;
  }
  .ask__img img {
    width: 120px;
  }
}
.ask__input, .ask__submit {
  padding: 15px 20px;
}
.ask__input {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border: 0;
}
.ask__submit {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 0;
  background-color: #1877d2;
  border: 2px solid white;
  color: white;
}

.questions {
  padding: 70px 0;
  background-color: #f8f9ff;
}
.questions__title {
  color: #1877d2;
  font-size: 45px;
  text-align: center;
}
.questions__single-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #1877d2;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}
.questions__expand {
  position: relative;
  width: 20px;
}
.questions__sign1, .questions__sign2 {
  position: absolute;
  width: 15px;
  height: 2px;
  border-radius: 4px;
  background-color: #1877d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.questions__sign2.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.questions__answer-cont {
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 0;
  padding: 0 20px;
}
.questions__answer {
  font-size: 16px;
}
.questions__item {
  background-color: white;
  margin: 20px 0;
  border-radius: 7px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .questions__title {
    font-size: 29px;
  }
  .questions__single-title {
    font-size: 16px;
  }
  .questions__answer {
    font-size: 13px;
  }
}

footer, .footer {
  padding: 60px 0;
  line-height: 27px;
  background-color: black;
  color: white;
  font-size: 16px;
}
footer__title, .footer__title {
  margin-bottom: 20px;
  font-size: 20px;
}
footer__item, .footer__item {
  padding-bottom: 10px;
}
footer__item a, .footer__item a {
  color: white;
  text-decoration: none;
}
footer__icon, .footer__icon {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer__icon a, .footer__icon a {
  color: black;
}
footer__copyright, .footer__copyright {
  font-size: 12px;
}

.side-img {
  position: relative;
}
.side-img .container-md {
  position: relative;
}
.side-img__1 {
  position: absolute;
  left: 0;
  top: -50px;
  width: 10.5vw;
  z-index: 1;
}
.side-img__2 {
  position: absolute;
  left: -50px;
  top: -100px;
  width: 170px;
  z-index: 0;
}
@media (max-width: 1200px) {
  .side-img__2 {
    left: 10px;
  }
}

.courses {
  background-color: #fafafc;
  padding: 70px 0;
}
.courses__title {
  color: #1877d2;
  margin: 0;
}
.courses__header-container, .courses__shape-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses__search {
  position: relative;
}
.courses__search-input {
  padding: 7px 35px;
  border-radius: 20px;
  border: 0.5px solid rgba(193, 193, 193, 0.5);
  font-size: 14px;
}
.courses__search-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #bdbdbd;
}
.courses__shape-container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #c1c1c1;
}
.courses__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border: 0.5px solid rgba(193, 193, 193, 0.5);
  fill: #929292;
}
.courses__layout-icon-cont {
  width: 35px;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.courses__layout-icon-cont.active, .courses__layout-icon-cont:hover {
  fill: #1877d2;
}
.courses__layout-icon-cont .floating-info {
  -webkit-transform: translate(-50%, 20px);
          transform: translate(-50%, 20px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 110%;
  left: 50%;
  background-color: #132b47;
  padding: 5px 10px;
  color: white;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
  border-radius: 5px;
  -webkit-animation-name: hoverAppear;
          animation-name: hoverAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  pointer-events: none;
}
.courses__layout-icon-cont .floating-info::after {
  content: "";
  border: 5px solid transparent;
  border-top: 5px solid #132b47;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.courses__layout-icon-cont:hover .floating-info {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 1;
}
.courses__filter select {
  padding: 10px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-image: url("../../../assets/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: left 1rem center;
  padding-left: 40px;
  border: 0.5px solid rgba(193, 193, 193, 0.5);
  font-size: 14px;
}
.courses__list {
  margin-top: 25px;
}
.courses__course {
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
.courses__course:hover {
  -webkit-box-shadow: 0 4px 32px 0 rgba(18, 43, 70, 0.1);
          box-shadow: 0 4px 32px 0 rgba(18, 43, 70, 0.1);
}
.courses__course img {
  max-width: 100%;
  max-height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.courses__course-body {
  padding: 16px 20px;
}
.courses__course-sections {
  color: #535353;
  font-size: 13px;
  margin-bottom: 5px;
}
.courses__course-title a {
  color: #1877d2;
  font-size: 22px;
  margin-bottom: 5px;
  text-decoration: none;
}
.courses__course-instructor {
  margin-bottom: 15px;
}
.courses__course-instructor-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.courses__course-instructor-name {
  font-size: 13px;
  color: #1877d2;
}
.courses__course-reviews {
  margin-bottom: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses__course-reviews-stars {
  color: #fab84e;
}
.courses__course-reviews-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.courses__course-description {
  color: #535353;
  font-size: 13px;
  display: block;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.courses__img-link {
  min-width: 25%;
}
.courses__img-link img {
  width: 100%;
}
.courses__course-cont.list {
  width: 100%;
}
.courses__course-cont.list .courses__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.courses__course-cont.list .courses__course img {
  max-width: 300px;
  height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.courses__no-course {
  display: none;
  color: #1877d2;
  margin: 30px 0;
}

.single-course-header {
  padding: 120px 0;
  background-image: url("../../../assets/images/single1.png");
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  color: white;
}
.single-course-header__title {
  color: #23CEDB;
  font-size: 30px;
}
.single-course-header__title2 {
  font-size: 45px;
  margin: 15px 0 40px;
}
.single-course-header__stats {
  margin: 30px 0 0 80px;
}
.single-course-header__stats img {
  width: 27px;
}

.single-course__course-info {
  position: sticky;
  top: 96px;
  margin: 10px;
  margin-top: -100px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.2);
}
.single-course__content-breif {
  padding: 20px 35px;
}
.single-course__content-breif li {
  margin-bottom: 20px;
}
.single-course__content-breif img {
  width: 27px;
  margin-left: 10px;
}
.single-course__video {
  cursor: pointer;
}
.single-course__video:hover .single-course__play-button {
  border: 4px solid white;
  color: white;
}
.single-course__video-placeholder {
  position: relative;
}
.single-course__play-button {
  padding: 20px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.8);
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0px 0px 10px 0px black;
          box-shadow: 0px 0px 10px 0px black;
  font-size: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-course__iframe {
  display: none;
}
.single-course__price-cont {
  padding-bottom: 20px;
}
.single-course__price {
  font-size: 24px;
  color: #1877d2;
  margin-bottom: 15px;
}
.single-course .button--primary {
  background-color: #1877d2;
  color: white;
  font-size: 25px;
}
.single-course .button--primary:hover {
  background-color: #23CEDB;
}
.single-course__right {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
@media (max-width: 991px) {
  .single-course__right {
    padding: 10px;
  }
}
.single-course__tabs-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .single-course__tabs-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.single-course__tabs-item {
  padding: 24px;
  font-size: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #a7a4a5;
  cursor: pointer;
}
.single-course__tabs-item.active {
  border-bottom: 3px solid #1877d2;
}
.single-course__tabs-item:hover, .single-course__tabs-item.active {
  color: black;
}
@media (max-width: 1200px) {
  .single-course__tabs-item {
    font-size: 20px;
  }
}
.single-course__tab-info-content {
  display: none;
  font-size: 20px;
}
.single-course__instructor-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 30px;
}
.single-course__instructor-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .single-course__instructor-img {
    width: 100px;
    height: 100px;
  }
}
.single-course__instructor-name {
  color: #1877d2;
  font-size: 35px;
}
.single-course__instructor-desc {
  font-size: 20px;
}
.single-course__content-title {
  color: #1877d2;
  font-size: 16px;
}
.single-course__course-lessons {
  margin: 15px 0;
}
.single-course__lesson {
  margin: 10px 0;
}
.single-course__lesson-header {
  background-color: #f5f7f9;
  padding: 16px;
  cursor: pointer;
}
.single-course__lesson-expand {
  color: white;
  background-color: #1877d2;
  width: 33px;
  height: 30px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .single-course__lesson-expand {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .single-course__lesson-expand {
    font-size: 13px;
    width: 37px;
    height: 30px;
  }
}
.single-course__lesson-title {
  color: #1877d2;
}
@media (max-width: 991px) {
  .single-course__lesson-title {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .single-course__lesson-title {
    font-size: 13px;
  }
}
.single-course__lesson-details {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-course__lesson-details-item {
  cursor: pointer;
  padding-right: 40px;
  padding-left: 16px;
}
.single-course__lesson-details-item:hover .single-course__lesson-details-title {
  color: #1877d2;
}
.single-course__lesson-details-title {
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.single-course__lesson-count {
  font-size: 12px;
  color: #1877d2;
}
.single-course__lesson-done {
  color: #c2c2c2;
}
.single-course__lesson-free {
  border-radius: 15px;
  padding: 7px;
  background-color: #9ecefa;
  color: #1877d2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: normal;
}
.single-course__reviews-title {
  color: #1877d2;
}
.single-course__reviews-count {
  line-height: normal;
}
.single-course__reviews-count .bar {
  height: 8px;
  width: 200px;
  background-color: orange;
  border-radius: 8px;
}
.single-course__reviews-average {
  font-size: 25px;
  color: rgb(119, 119, 119);
  font-weight: bolder;
}
.single-course__reviews-average-text {
  font-size: 16px;
  margin: 0;
  line-height: normal;
}

@media (max-width: 991px) {
  .single-course__course-info {
    position: static;
    margin-top: 0;
  }
}
.login-header {
  text-align: center;
  margin: 100px 0 50px;
}
.login-header .logo img {
  width: 320px;
}
@media (max-width: 768px) {
  .login-header {
    margin-top: 40px;
  }
}

.login {
  margin-bottom: 50px;
  max-width: 320px;
  font-size: 16px;
}
.login__title-cont {
  font-size: 20px;
}
.login__create-account, .login__forget-pass a {
  color: #5a5b5b;
  text-decoration: none;
  font-size: 14px;
}
.login__form {
  padding: 25px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-top: 20px;
}
.login__input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 40px;
  width: 100%;
  outline: none;
}
.login__input::-webkit-input-placeholder {
  color: #aeaeae;
}
.login__input::-moz-placeholder {
  color: #aeaeae;
}
.login__input:-ms-input-placeholder {
  color: #aeaeae;
}
.login__input::-ms-input-placeholder {
  color: #aeaeae;
}
.login__input::placeholder {
  color: #aeaeae;
}
.login__input--button {
  background-color: #1877d2;
  color: white;
}
.login__info-cont {
  position: relative;
  margin-bottom: 15px;
}
.login__info-cont label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  color: #7a7a7a;
}
.login__forget {
  margin-bottom: 15px;
}

.signup-header {
  text-align: center;
  margin: 100px 0 20px;
}
.signup-header .logo {
  width: 320px;
}
.signup-header .logo img {
  width: 100%;
  max-width: 320px;
}
@media (max-width: 768px) {
  .signup-header .logo img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .signup-header {
    margin-top: 40px;
  }
}

.signup {
  margin: 0 20px 50px;
}
.signup__input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  outline: none;
  margin: 5px 0 15px;
}
.signup .button--primary {
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #1877d2;
  color: white;
}
.signup .button--primary:hover {
  background-color: #73b5f2;
}

.blogs-header {
  padding: 100px 0;
  background-image: url("../../../assets/images/2.svg");
  background-color: black;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  text-align: center;
}
.blogs-header__title {
  color: white;
  font-size: 65px;
}
.blogs-header__sub-title {
  color: #1877d2;
  font-size: 35px;
}

.blogs {
  padding: 30px 0;
}
.blogs__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.blogs__item {
  padding: 7px 20px;
  border-bottom: 2px solid #8c8c8c;
  color: #8c8c8c;
  font-size: 20px;
  cursor: pointer;
}
.blogs__item.active {
  border-color: #1877d2;
  color: black;
}
.blogs__card {
  border-radius: 10px;
  overflow: hidden;
}
.blogs__card-img-cont {
  height: 200px;
}
.blogs__card-img-cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blogs__card-body {
  position: relative;
  padding: 40px;
}
.blogs__card-author-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.blogs__card-author-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blogs__card-title {
  color: #1877d2;
  font-size: 21px;
  margin-bottom: 20px;
}
.blogs__card-reading-time-cont, .blogs__card-description {
  font-size: 14px;
  color: #696969;
  margin-bottom: 15px;
}
.blogs__card-readmore {
  text-decoration: none;
  color: rgb(104, 104, 104);
  font-size: 15px;
  margin-bottom: 15px;
  display: inline-block;
}
.blogs__card-stats {
  font-size: 12px;
  color: #929292;
}

/*
<div class="card blogs__card">
  <img class="blogs__card-img" src="assets/images/GPT-1.png" alt="">
  <div class="blogs__card-body">
    <div class="blogs__card-author-img">
      <img src="assets/images/student-1.jpg" alt="">
    </div>
    <h4 class="blogs__card-title">ملخص مؤتمر Flutter Forward 2023</h4>
    <p class="blogs__card-reading-time-cont">زمن القراءه <span class="blogs__card-reading-time">5 دقائق</span></p>
    <p class="blogs__card-description">
      في الخامس والعشرين من يناير الماضي، انطلقت فاعليات مؤتمر  2023 Flutter Forward في مدينة نيروبي بدولة كينيا. وجاء في هذا المؤتمر آخر التحديثات التي تمت
    </p>
    <a href="" class="blogs__card-readmore">اقرأ المزيد <i class="fa-solid fa-angles-left"></i></a>
    <div class="blogs__card-stats d-flex">
      <div class="blogs__card-date-cont">
        <i class="fa-regular fa-clock"></i>
        <span class="blogs__card-date">2022-02-05</span>
      </div>
      <div class="blogs__card-comments-cont">
        <i class="fa-regular fa-comments"></i>
        <span class="blogs__card-date">4</span>تعليقات
      </div>
    </div>
  </div>
</div>
*/
.profile-page {
  min-height: calc(100vh - 120px);
}
.profile-page .tab-content {
  display: none;
}

.profile {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
}
@media (max-width: 768px) {
  .profile__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.profile__img {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.profile__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile__stats {
  font-size: 14px;
  color: #767676;
}
.profile__name {
  color: #1877d2;
  font-size: 30px;
}
.profile__tabs-list {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 0 30px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  background-color: white;
}
.profile__tabs-item {
  color: #767676;
  cursor: pointer;
}
.profile__tabs-item.active {
  border-bottom: 1px solid #1877d2;
  color: #1877d2;
}

.profile-info {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.profile-info__title-cont {
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-info__title-cont .button--primary {
  font-size: 14px;
}
.profile-info__title {
  color: #1877d2;
}
.profile-info__table-header {
  width: 25%;
}
@media (max-width: 991px) {
  .profile-info__table-header {
    width: auto;
  }
}

.tabs-info__item {
  display: none;
}

.profile-blogs__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-blogs__tabs-item {
  padding: 10px 15px;
  cursor: pointer;
}
.profile-blogs__tabs-item.active {
  color: #1877d2;
  border-bottom: 1px solid #1877d2;
}
.profile-blogs__tabs-content-title {
  color: #1877d2;
  margin: 25px 0 25px;
  font-size: 20px;
}
.profile-blogs__tabs-content-item {
  display: none;
}

.profile-content__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-content__title {
  color: #1877d2;
  margin: 25px 0 25px;
  font-size: 20px;
}
.profile-content__item {
  padding: 10px 15px;
  cursor: pointer;
}
.profile-content__item.active {
  color: #1877d2;
  border-bottom: 1px solid #1877d2;
}
.profile-content__item-content {
  display: none;
}

.no-content {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.no-content .error-icon {
  background-color: #23cfda;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 20px;
}

.contact-us-main {
  padding: 200px 0;
  background-color: black;
}
.contact-us-main__title {
  font-size: 45px;
  color: white;
}
.contact-us-main__tabs {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-us-main__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 25px 37.5px;
  font-size: 25px;
  background-color: #73b5f2;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 991px) {
  .contact-us-main__item {
    font-size: 20px;
    padding: 25px 30px;
  }
}
.contact-us-main__item.active, .contact-us-main__item:hover {
  background-color: #1877d2;
}
.contact-us-main__form-cont {
  display: none;
  background-color: white;
  padding: 20px;
  padding-bottom: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact-us-main__forms form {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 25px;
}
.contact-us-main__forms form input, .contact-us-main__forms form textarea {
  border: none;
  outline: none;
  background-color: #fbfbfa;
  padding: 6px 16px;
}
.contact-us-main__input-cont {
  margin: 25px 0;
  padding: 0 5px;
}
.contact-us-main__joinus-text {
  font-size: 20px;
}
.contact-us-main .button--primary {
  background-color: #1877d2;
  margin: auto;
  color: white;
  margin-bottom: 20px;
}
.contact-us-main .button--primary:hover {
  background-color: #73b5f2;
}

.feedbacks {
  background-color: #1877d2;
  padding: 40px 0;
}
.feedbacks__cont {
  background-color: white;
  padding: 25px 75px;
  border-radius: 15px;
}
.feedbacks__title {
  color: #1877d2;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}
.feedbacks textarea {
  min-height: 184px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 6px 16px;
  margin-bottom: 10px;
}
.feedbacks .button--primary {
  background-color: #1877d2;
  margin: auto;
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
}
.feedbacks .button--primary:hover {
  background-color: #73b5f2;
}

.give-review {
  padding: 70px 0;
}
.give-review__title {
  background-color: #1877d2;
  color: white;
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.give-review__form {
  background-color: white;
  -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  padding: 50px 25px;
}
.give-review__sub-title {
  color: #1877d2;
}
.give-review__input {
  min-height: 184px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
  padding: 6px 16px;
  margin-bottom: 20px;
}
.give-review__stars {
  color: #c79d5a;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}
.give-review__star {
  display: block;
  cursor: pointer;
}
.give-review__star.hover-active, .give-review__star.active {
  color: #fab84e;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}
.give-review .button--primary {
  background-color: #1877d2;
  margin: auto;
  color: white;
  margin-bottom: 20px;
}
.give-review .button--primary:hover {
  background-color: #73b5f2;
}

.page-posts {
  padding: 70px 0;
  background-color: black;
  color: white;
  font-size: 20px;
}
.page-posts__icon-list {
  margin: 30px 0;
  gap: 15px;
}
.page-posts__icon {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-posts__icon a {
  color: black;
}
.page-posts__list {
  height: 122vh;
}
.page-posts__post {
  max-height: calc(50% - 10px);
  margin-bottom: 10px;
  width: 33.33333333%;
  padding: 5px;
  padding-bottom: 10px;
}
.page-posts__post-cont {
  background-color: white;
}
.page-posts__post-header {
  background-color: #f3f7fd;
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-posts__post-date-cont {
  font-size: 11px;
  color: #707070;
}
.page-posts__post-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-posts__post-page-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.page-posts__post-page-img img {
  -o-object-fit: center;
     object-fit: center;
  width: 100%;
}
.page-posts__post-page-name {
  color: #1877d2;
  font-size: 14px;
}
.page-posts__post-text {
  color: #707070;
  font-size: 14px;
  padding: 12px;
  padding-bottom: 0;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-posts__post-img {
  width: 100%;
}
.page-posts__post-img img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-posts__post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f7fd;
  color: #707070;
  padding: 8px 12px;
  gap: 10px;
  font-size: 16px;
}
.page-posts__text {
  font-size: 20px;
}
.page-posts__hashtags {
  color: #23cedb;
  gap: 30px;
}

.contacts {
  padding: 70px 0;
  background-color: #F8F9FF;
  text-align: center;
}
.contacts__title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #1877d2;
}
.contacts__info-cont {
  font-size: 18px;
  font-weight: 700;
}
.contacts__info {
  margin-bottom: 20px;
}
.contacts__info-email {
  color: #1877d2;
}

.learn-more {
  padding: 70px 0;
  text-align: center;
}
.learn-more__title {
  font-size: 30px;
  margin-bottom: 20px;
  color: #1877d2;
}
.learn-more__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  display: flex;
}
.learn-more__buttons .button--primary {
  background-color: #1877d2;
  color: white;
  margin-left: 30px;
}
.learn-more__buttons .button--primary:hover {
  background-color: white;
  color: #1877d2;
}
.learn-more__buttons .button--secondary {
  background-color: #73b5f2;
  color: white;
}
.learn-more__buttons .button--secondary:hover {
  background-color: #1877d2;
}

@media (max-width: 991px) {
  .page-posts__list {
    overflow: hidden;
  }
  .page-posts__post {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .learn-more__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .learn-more__buttons .button--primary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 0;
    margin-bottom: 25px;
  }
  .learn-more__buttons .button--secondary {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 480px) {
  .page-posts__post {
    width: 100%;
  }
}
.video-page-main .course-content {
  position: sticky;
  top: 96px;
  background-color: white;
  width: 370px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: calc(100vh - 96px);
  overflow: auto;
}
.video-page-main .course-content__header, .video-page-main .course-content__close {
  padding: 8px;
}
.video-page-main .course-content__header {
  font-weight: 700;
}
.video-page-main .course-content__title {
  font-size: 14px;
}
.video-page-main .course-content__lesson-header {
  padding: 16px;
  background-color: #f6f8fa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.video-page-main .course-content__lesson-list {
  overflow: hidden;
  padding: 0 16px;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.video-page-main .course-content__lesson-item {
  margin-bottom: 10px;
  cursor: pointer;
}
.video-page-main .course-content .arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.video-page-main .video {
  padding: 20px 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 1200px;
  margin: 0 auto;
}
.video-page-main .video__header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.video-page-main .video__header-icon {
  font-size: 10px;
  margin: 0 5px;
  color: #1877d2;
}
.video-page-main .video__header a {
  color: #1877d2;
  font-size: 15px;
  text-decoration: none;
}
.video-page-main .video__title {
  color: #1877d2;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.video-page-main .comments {
  margin: 40px 0;
}
.video-page-main .comments__item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.video-page-main .comments__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
}
.video-page-main .comments__img img {
  width: 100%;
}
.video-page-main .comments__date {
  color: #6c757d;
}
/*# sourceMappingURL=style.css.map */