@use '../Layout/variables' as *;
@use '../Layout/global_content' as *;

header{
  background-color: #203154;
  color: white;
  padding: 5px;
  position: relative;
  display: flex;
  z-index: 101;
  height: 50px;
  .header{
    &__left{
      direction: ltr;
    }
  }
}

nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 4px 12px 0px rgba($color: #000, $alpha: .1);
  white-space: nowrap;
}

.nav{
  position: relative;
  &__logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
    img{
      width: 100%;
    }
    @media (max-width: 1200px) {
      img{
        width: 150px;
      }
    }
  }
  &__list{
    display: flex;
  }
  &__logo, &__list, &__left{
    padding: 10px;
  }
  &__item{
    height: 76px;
    display: flex;
    align-items: center;
    > a{
      color: #959799;
      text-decoration: none;
      transition: .3s;
      display: inline-block;
      &:hover{
        color: $main-color;
      }
    }
    @media (max-width: 1200px) {
      font-size: 15px;
    }
  }
  .button{
    &--secondary{
      background-color: transparent;
      color: $muted;
      &:hover{
        color: $main-color;
      }
    }
    &--primary{
      background-color: $main-color;
      color: white;
      &:hover{
        background-color: #4690d5;
      }
    }
    @media (max-width: 1200px) {
      &--secondary, &--primary{
        font-size: 14px;
        padding: 10px 15px;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: row;
  }
  &__left{
    position: relative;
  }
  &__search{
    cursor: pointer;
    display: flex;
    gap: 15px;
    &-icon{
      font-size: 20px;
      color: white;
    }
    &-input{
      width: 0;
      top: 0;
      z-index: 1;
      left: 0;
      transition: .3s;
      overflow: hidden;
      form{
        height: 100%;
        input{
          border-radius: 10px;
          width: 100%;
          padding: 7px 15px;
          border: 0;
          outline: none;
          box-shadow: 0px 0px 12px 0px rgba($color: #000000, $alpha: .3);
        }
      }
      &.expanded{
        width: 250px;
      }
    }
  }
  &__side-nav-icon{
    padding: 10px;
    font-size: 25px;
    display: none;
    align-items: center;
    cursor: pointer;
  }
  &__mobile{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fefeff;
    flex-direction: column;
    transition: .5s;
    z-index: 1;
    transform: translateX(100%);
    &.expanded{
      display: block;
      transform: translateX(0);
    }
    &-header{
      background-color: white;
      display: flex;
      justify-content: space-between;
      padding: 15px 20px;
      box-shadow: 0px 0px 12px 0px rgba($color: #000000, $alpha: .15);
    }
    &-side-logo{
      img{
        width: 200px;
      }
    }
    &-side-close{
      font-size: 25px;
      height: 52px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &-list{
      padding: 20px;
    }
    &-item{
      a{
        color: $main-color;
        text-decoration: none;
      }
      padding: 15px 0;
    }
    &-icon{
      margin-left: 15px;
    }
  }
  &__dropdown{
    &-cont{
      display: none;
      position: absolute;
      top: calc(100% - 10px);
      background-color: white;
      width: 70vw;
      max-width: 1200px;
      max-height: calc(100vh - 96px);
      padding: 30px 50px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: 0px 10px 12px 0px rgba($color: #000000, $alpha: .2);
      pointer-events: none;
      &.appear{
        pointer-events: all;
      }
      img{
        max-height: 200px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    &-title{
      color: $main-color;
      font-size: 35px;
    }
    &-more{
      a{
        color: black;
        text-decoration: none;
      }
    }
  }
  &__course{
    margin-bottom: 20px;
    &-title{
      white-space: normal;
      margin-top: 10px;
      a{
        color: $main-color;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
  &__notifications, &__messages{
    position: relative;
    color: black;
    &-icon{
      cursor: pointer;
      color: white;
      font-size: 20px;
    }
    &-body{
      display: none;
      background-color: white;
      position: absolute;
      top: calc(100% + 10px);
      right: -15px;
      box-shadow: 0px 0px 12px 0 rgba($color: #000000, $alpha: .2);
      width: 400px;
      &::before{
        content: "";
        border: 10px solid transparent {
          bottom: 10px solid white;
        };
        position: absolute;
        bottom: 100%;
        right: 12px;
      }
      &.expanded{
        display: block;
      }
    }
    &-title, &-list, &-more{
      padding: 15px;
    }
    &-title{
      color: $main-color;
    }
    &-list{
      border-top: $light-border;
      border-bottom: $light-border;

    }
    &-more{
      a{text-decoration: none; color: $main-color;}
    }
  }
  &__account{
    display: flex;
    align-items: center;
    gap: 15px;
    &-name{
      color: $main-color;
      font-size: 16px;
      text-decoration: none;
    }
    &-name-cont{
      cursor: pointer;
    }
    &-img{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    &-info{
      display: flex;
    }
    position: relative;
    &-body{
      display: none;
      background-color: white;
      position: absolute;
      top: calc(100% + 10px);
      left: 10px;
      box-shadow: 0px 0px 12px 0 rgba($color: #000000, $alpha: .2);
      width: 250px;
      &::before{
        content: "";
        border: 10px solid transparent {
          bottom: 10px solid white;
        };
        position: absolute;
        bottom: 100%;
        left: 30px;
      }
      &.expanded{
        display: block;
      }
    }
    &-header{
      padding: 15px;
    }
    &-title, &-more{
      padding: 15px;
    }
    &-title{
      color: $main-color;
    }
    &-list{
      border-top: $light-border;
      padding: 15px 0;
    }
    &-item{
      padding: 11px{
        right: 15px;
      };
      a{
        color: #4D5C6D;
        text-decoration: none;
      }
    }
    &-icon{
      margin-left: 5px;
    }
    &-more{
      a{text-decoration: none; color: $main-color;}
    }
  }
}

@media (max-width: 991px){
  .nav{
    &__left{
      position: static;
    }
    &__buttons, &__list{
      display: none;
    }
    &__side-nav-icon{
      display: flex;
    }
    &__left{
      height: 72px;
    }
    &__notifications{
      &-body{
        width: 100vw;
        max-width: 400px;
      }
    }
    &__account-info{
      display: none;
    }
    &__notifications, &__messages{
      &-body{
        width: 300px;
      }
    }
  }

}

@media (max-width: 578px){
  .nav{
    &__left{
      position: static;
    }
    &__search{
      &-input{
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        &.expanded{
          width: calc(100vw - 130px);
        }
      }
    }
  }
}