@use '../Layout/global_content' as *;
@use '../Layout/variables' as *;

.who-top-img{
  margin-top: 96px;
  text-align: left;
  margin-left: 50px;
  height: 0;
  img{
    width: 190px;
    transform: translateY(-30px);
  }
}

.who-main{
  padding: 100px 0;
  background-color: black;
  background-image: url(../../../assets/images/2.svg);
  background-position: right;
  background-size: cover;
  color: white;
  &__title{
    font-size: 47px;
    &--colored{
      color: #23cfda;
    }
  }
  &__body{
    font-size: 20px;
    position: relative;
    z-index: 1;
  }
  &__left-img{
    text-align: left;
    img{
      width: 220px;
      transform: translateY(170px);
    }
  }
}

.timetable{
  padding: 70px 0;
  background-color: #fefffe;
  &__title{
    font-size: 45px;
    margin-bottom: 70px;
    color: $main-color;
  }
  &__item{
    position: relative;
  }
  &__progress{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    height: 100%;
  }
  &__icon{
    background-color: $main-color;
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0px 0px 2px 0px rgba($color: #000000, $alpha: .2);
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  &__line{
    width: 3px;
    height: calc(100% + 10px);
    background-color: #d7e4ed;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    
  }
  &__line-progress{
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/images/back.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  &__content{
    box-shadow: -2px 8px 35px -4px rgb(20 60 232 / 17%);
    padding: 32px;
    position: relative;
    width: fit-content;
    border-radius: 20px;
    max-width: calc(50% - 40px);
    margin-bottom: 50px;
    margin-top: 20px;
    &-title{
      color: $main-color;
      margin-bottom: 15px;
      font-size: 35px;
    }
    &-body{
      font-size: 20px;
    }
    &::before{
      content: "";
      border: 10px solid transparent;
      position: absolute;
      top: 53px;
    }
    &--left{
      right: calc(50% + 40px);
      &::before{
        left: 100%;
        border-left: 15px solid white;
      }
    }
    &--right{
      right: calc(50% - 40px);
    transform: translateX(100%);
      &::before{
        right: 100%;
        border-right: 15px solid white;
      }
    }
  }
}

.all-instructors{
  background-color: black;
  padding: 70px 0;
  &__title{
    color: white;
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
  }
  &__instructor{
    &-cont{
      padding: 0 5px;
      margin-bottom: 60px;
    }
    &-img{
      margin-bottom: 20px;
    }
    &-name{
      color: #23cedb;
      font-size: 25px;
      margin: 5px 0;
    }
    &-job{
      color: white;
      font-size: 15px;
    }
  }
}

.feel{
  padding: 70px 0;
  background-color: $main-color;
  color: white;
  text-align: justify;
  &__title{
    font-size: 45px;
  }
  &__text{
    font-size: 20px;
  }
  &__cont{
    padding: 35px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 60px;
    &-icon{
      width: 45px;
    }
    &-title{
      color: $main-color;
      font-size: 35px;
    }
    &-body{
      color: black;
      font-size: 20px;
    }
  }
}

@media (max-width: 991px){
  .who-top-img{
    margin-top: 72px;
  }
  .who-main{
    padding: 100px 20px;
    background-position: center;
    &__title{
      font-size: 35px;
      text-align: center;
    }
    &__left-img{
      height: 0;
      img{
        width: 100px;
        transform: translateY(-50px);
      }
    }
  }
  .who-top-img{
    img{
      width: 118px;
      transform: translateY(-20px);
    }
  }
}
@media (max-width: 768px){
  .who-main{
    &__title{
      font-size: 30px;
    }
    &__body{
      font-size: 16px;
    }
    &__left-img{
      img{
        width: 50px;
        transform: translateY(25px);
      }
    }
  }
  .who-top-img{
    img{
      width: 75px;
      transform: translateY(-10px);
    }
  }
}